__pycache__/
*.py[cod]
*$py.class
.jekyll-cache
.sass-cache/
.vscode/

.DS_Store
*.env
*.tmp
*.pkl
*.conllu
*.lem
*.toklabels

data/
saved_models/
logs/
*_test_treebanks

params/*/*.json
!params/*/default.json

_site/

.jekyll-metadata

# emacs files
*~