<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@stanfordnlp">
<meta name="twitter:creator" content="@stanfordnlp">
<meta name="twitter:title" content="Stanza">
<meta name="twitter:description" content="High-performance human language analysis tools, now with native deep learning modules in Python, available in many human languages.">
<meta name="twitter:image" content="{{ site.github.url }}/images/stanfordnlp.png">
<meta name="google-site-verification" content="h3zCtOJy9KzG1XWf5-3ppU1liaJ8NkpGvK_BbOOq3-4" />
<title>{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }}{% endif %}  | {{ site.site_title }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/syntax.css">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/modern-business.css">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/lavish-bootstrap.css">
<link rel="canonical" href="{{ page.url | replace:'index.html',''}}">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/customstyles.css">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/{{site.theme_file}}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="feed.xml" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="js/jquery.navgoco.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="js/toc.js"></script>
<script src="js/customscripts.js"></script>
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->








